* {
    font-family: "PT Serif", serif;
}

.dropdown {
    width: max-content;
    margin-bottom: 2rem;
}

.dropdown button {
    position: relative;
    width: max-content;
    height: 3.5rem;
    border: none;
    cursor: pointer;
    background-color: transparent;
    padding: 12px;
    padding-top: 9px;
    padding-bottom: 9px;
    display: inline-block;
    border-radius: 10px;
    border: 1px solid hsl(0, 0%, 79%);
    color: hsl(0, 0%, 33%);

    transition: border 100ms ease-out;
}

.dropdown button p {
    font-family: "Roboto Flex";
    font-size: x-large;
}

.dropdown button:hover {
    border-color: hsl(0, 0%, 59%);   
}

.dropdown:hover .dropcontent {
    display: block;
}

.dropdown a {
    font-size: x-large;
    font-family: "Roboto Flex";
    display: block;
    text-decoration: none;
    background-color: white;
    padding: 12px;
    padding-right: 0;
    width: 160px;
    color: hsl(0, 0%, 23%);
}

.dropdown a:hover {
    background-color: hsl(0, 0%, 73%);
}

.dropdown .dropcontent {
    display: none;
    position: absolute;
    z-index: 2;
}

#indexBody {
    display: flex;
    justify-content: center;
}

.navbar ul{
    padding: 0px;
    padding-left: 1rem;
    width: auto;
    list-style-type: none;
    background-color: rgb(247, 71, 71);
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    font-family: "Roboto Flex";
    color: rgb(36, 36, 36);
    padding: 15px;
    text-align: center;
    display: block;
    text-decoration: none;
    font-size: 130%;

    transition: padding 0.1s ease-out;
}
.navbar a:hover{
    background-color: hsl(0, 75%, 55%);
}
.navbar li{
    float: left;
}

div.sticky{
    position: sticky;
    top: 0px;
    z-index: 3;
}

div.thinBody {
    justify-content: center;
    width: 70%;
    border-left: solid gray;
    border-right: solid gray;
    word-wrap: break-word;
}

div.thinBody * {
    margin-left: 5%;
    margin-right: 5%;
}

img.Art {
    width: 100%;
}

embed.example {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

div.captionback {
    width: 100%;
}

p.category {
    color: darkgray;
}

p.desc {
    padding-top: 7%;
    padding-bottom: 7%;
    font-size: 1.5rem;
}

div.artwhole {
    width: 15rem;
    margin-top: auto;
    margin-bottom: auto;
    margin: 0.6rem;
    box-shadow: 3px 3px 3px hsla(0, 0%, 0%, 0.349);
    cursor: pointer;
    display: inline-block;

    transition: transform 0.2s ease-out;
    border: 1px solid hsla(0, 0%, 0%, 0.315);
}

div.artwhole:hover {
    transform: scale(0.995);
    border-color: gray;
    box-shadow: 7px 7px 7px hsla(0, 0%, 0%, 0.349);
}

a {
    text-decoration: none;
    color: black;
}

a.title {
    font-size: 5rem; 
    font-weight: 400;
}

a.title:hover {
    text-decoration: underline;
}

p {
    font-size: 120%;
    margin: 0;
    margin-left: 5%;
    padding-top: 1%;
    padding-bottom: 5%;
    text-wrap: wrap;
}

p.title {
    margin-top: 0;
    margin-bottom: 1%;
    margin-right: 5.5%;
    padding-bottom: 0;
    font-size:190%;
}

.gallerycategory {
    width: fit-content;
    overflow: auto;
    
    padding-left: 2vw;
    padding-right: 2vw;
}

embed.example {
    width: 10rem;
    padding-top: 2rem;
    cursor: pointer;
}

#gtitle {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 1rem;
    font-size: 3vw;
}

#gauthor {
    padding-top: 2%;
    padding-bottom: 0;
    font-size: 2vw;
}

#gcaption {
    padding-top: 5%;
    padding-bottom: 0;
    font-size: 1.5vw;
    word-wrap: normal;
    color: darkgray;
}

#gcategory {
    padding-top: 7%;
    padding-bottom: 0;
    font-size: 1.5vw;
    word-wrap: break-word;
    color: darkgray;
}

#gallerydiv {
    display: flex;
    justify-content: center;
    width: 100%;
}

#innergdiv {
    width: 90vw;
    display: grid;
    justify-content: center;
    overflow: hidden;
}

#gimagediv {
    display: flex;

    grid-column: 1;
    width: 40vw;
    height: 40vw;
    padding-left: auto;
    padding-right: auto;
    background-color: hsla(0, 0%, 0%, 0.055);
    overflow: hidden;
}

#gimage {
    align-self: center;
    max-width: 40vw;
    max-height: 40vw;
    height: auto;
    width: auto;
    margin: 0 auto;
}

#gimagediv:hover {
    cursor: pointer;
    background-color: hsla(0, 0%, 0%, 0.09);
}

#ginfodiv {
    grid-column: 2;
    grid-row: 1;
    padding-left: auto;
    padding-right: none;
    width: 40vw;
}

#textinfodiv {
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
}

#gbuttondiv {
    width: 40vw;
    grid-column: 1;
    grid-row: 2;
    padding-left: auto;
    padding-right: auto;
}

#filterdiv {
    display: flex;
}

#filterdiv * {
    margin-top: auto;
    margin-bottom: auto;
}

#actionbuttongallery {
    height: 45px;
    width: 45px;
    margin: 0;
}

#actionbuttongallery img{
    color: gray;
    margin-top: 0.5rem;
    width: 45px;
    height: 45px;
}

#actionbuttongallery img:hover {
    cursor: pointer;
    color: darkgray;
}

#expanddiv {
    background-color: hsla(0, 0%, 0%, 0.89);
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
    margin-bottom: 10rem;
}

#expandingholder {
    text-align: center;
    margin: auto;
    width: 45vw; 
    height: 45vw;
    background-color: transparent; 
    display: flex;
    overflow: auto;
}

#expandimage {
    width: max-content; 
    max-width: 100%; 
    height: fit-content; 
    max-height: 100%; 
    margin: auto;
}

@media screen and (max-width: 1000px) {
    #ginfodiv {
        grid-column: 1;
        grid-row: 3;
        width: auto;
    }
    #gimage {
        max-width: 70vw;
        max-height: 70vw;
    }
    #gimagediv {
        margin-left: auto;
        margin-right: auto;
        width: 70vw;
        height: 70vw;
    }
    #expandingholder {
        width: 85vw; 
        height: 85vw;
    }

    #gtitle {
        font-size: 5vw;
    }
    #gauthor {
        font-size: 3vw;
    }
    #gcategory {
        font-size: 2.7vw;
    }
    #gcaption {
        font-size: 2.7vw;
    }
}

@media screen and (max-width: 800px) {
    #filterdiv {
        display: block;
    }
    .dropdown {
        margin-bottom: 1rem;
        margin-left: 3vw;
    }
    #allcategories {
        margin-left: 3vw;
    }
    #allcategories {
        margin-left: 3vw;
    }
}

@media screen and (max-width: 650px) {
    #gimagediv {
        width: 90%;
    }
    #gtitle {
        font-size: 7vw;
    }
    #gauthor {
        font-size: 5vw;
    }
    #gcategory {
        font-size: 4.5vw;
    }
    #gcaption {
        font-size: 16px;
    }
}

@media screen and (max-width: 400px) {
    .navbar ul {
        padding: 0;
        justify-content: center;
    }
}
    
