* {
    font-family: "PT Serif", serif;
}

.dropdown {
    width: max-content;
    margin-bottom: 2rem;
}

.dropdown button {
    position: relative;
    width: max-content;
    height: 3.5rem;
    border: none;
    cursor: pointer;
    background-color: transparent;
    padding: 12px;
    padding-top: 9px;
    padding-bottom: 9px;
    display: inline-block;
    border-radius: 10px;
    border: 1px solid hsl(0, 0%, 79%);
    color: hsl(0, 0%, 33%);

    transition: border 100ms ease-out;
}

.dropdown button p {
    font-family: "Roboto Flex";
    font-size: x-large;
}

.dropdown button:hover {
    border-color: hsl(0, 0%, 59%);   
}

.dropdown:hover .dropcontent {
    display: block;
}

.dropdown a {
    font-size: x-large;
    font-family: "Roboto Flex";
    display: block;
    text-decoration: none;
    background-color: white;
    padding: 12px;
    padding-right: 0;
    width: 160px;
    color: hsl(0, 0%, 23%);
}

.dropdown a:hover {
    background-color: hsl(0, 0%, 73%);
}

.dropdown .dropcontent {
    display: none;
    position: absolute;
    z-index: 99;
}

#indexBody {
    display: flex;
    justify-content: center;
}

.navbar ul{
    width: 100%;
    list-style-type: none;
    background-color: rgb(247, 71, 71);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    padding-left: 1rem;
    padding-right: 1rem;
}
.navbar a{
    font-family: "Roboto Flex";
    color: rgb(36, 36, 36);
    padding: 15px;
    text-align: center;
    display: block;
    text-decoration: none;
    font-size: 130%;

    transition: padding 0.1s ease-out;
}
.navbar a:hover{
    background-color: hsl(0, 75%, 55%);
}
.navbar li{
    float: left;
}

div.sticky{
    position: sticky;
    top: 0px;
    z-index: 100;
}

div.thinBody {
    justify-content: center;
    width: 70%;
    border-left: solid gray;
    border-right: solid gray;
    word-wrap: break-word;
}

div.thinBody * {
    margin-left: 5%;
    margin-right: 5%;
}

img.Art {
    width: 100%;
}

embed.example {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

div.captionback {
    width: 100%;
}

p.category {
    color: darkgray;
}

p.desc {
    padding-top: 7%;
    padding-bottom: 7%;
    font-size: 1.5rem;
}

div.artwhole {
    width: 15rem;
    margin-top: auto;
    margin-bottom: auto;
    margin: 0.6rem;
    box-shadow: 3px 3px 3px hsla(0, 0%, 0%, 0.349);
    cursor: pointer;
    display: inline-block;

    transition: transform 0.2s ease-out;
    border: 1px solid hsla(0, 0%, 0%, 0.315);
}

div.artwhole:hover {
    transform: scale(0.995);
    border-color: gray;
    box-shadow: 7px 7px 7px hsla(0, 0%, 0%, 0.349);
}

a {
    text-decoration: none;
    color: black;
}

a.title {
    font-size: 5rem; 
    font-weight: 400;
}

a.title:hover {
    text-decoration: underline;
}

p {
    font-size: 120%;
    margin: 0;
    margin-left: 5%;
    padding-top: 1%;
    padding-bottom: 5%;
    text-wrap: wrap;
}

p.title {
    margin-top: 0;
    margin-bottom: 1%;
    margin-right: 5.5%;
    padding-bottom: 0;
    font-size:190%;
}

.gallerycategory {
    width: 100%;
    overflow: auto;
    
    margin-left: 2vw;
    margin-right: 2vw;
}

embed.example {
    width: 10rem;
    padding-top: 2rem;
    cursor: pointer;
}

#gimage {
    max-height: 30vw;
}

#gtitle {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 1rem;
    font-size: xxx-large;
}

#gauthor {
    padding-top: 2%;
    padding-bottom: 0;
    font-size: xx-large;
}

#gcaption {
    padding-top: 5%;
    padding-bottom: 0;
    font-size: x-large;
    word-wrap: break-word;
    color: darkgray;
}

#gcategory {
    padding-top: 7%;
    padding-bottom: 0;
    font-size: x-large;
    word-wrap: break-word;
    color: darkgray;
}

#gallerydiv {
    display: flex;
    justify-content: center;
    width: 100%;
}

#innergdiv {
    width: 90vw;
    display: grid;
    justify-content: center;
    border-left: solid gray;
    border-right: solid gray;
    overflow: hidden;
}

#gimagediv {
    grid-column: 1;
    padding-left: auto;
    padding-right: auto;
}

#ginfodiv {
    grid-column: 2;
    padding-left: auto;
    padding-right: auto;
    width: 40vw;
}

#filterdiv {
    display: flex;
}

#filterdiv * {
    margin-top: auto;
    margin-bottom: auto;
}

#filters {
    margin-left: 0;
    font-family: "Roboto Flex";
    font-size: x-large; 
    max-width: fit-content;
    min-height: 40px;
    background-color: hsl(0, 0%, 87%); 
    color: hsl(0, 0%, 33%);
    border-radius: 25px; 
    padding: 0;
    padding-top: 1%;
    padding-left: 1rem;
    padding-right: 1rem;
}

@media screen and (max-width: 950px) {
    #ginfodiv {
        grid-column: 1;
        grid-row: 2;
        width: 60vw;
    }
    #gimage {
        min-height: 60vw;
    }
}

@media screen and (max-width: 800px) {
    #filterdiv {
        display: block;
    }
    .dropdown {
        margin-bottom: 1rem;
        margin-left: 3vw;
    }
    #filters {
        margin-left: 3vw;
    }
}

@media screen and (max-width: 400px) {
    .navbar ul {
        padding: 0;
        justify-content: center;
    }
}
    
